:host {
	.bb-dimension {
		display: inline-block;
	
		input[type="text"] {
			width: 130px;
		}
	
		bb-select {
			width: 60px;
			display: inline-block;
			position: relative;
			left: -1px;
	
			.bb-select {
				height: 34px;
			}
		}
		
		.no-select {
			cursor: default;
			position: relative;
			display: inline-block;
			border-width: 1px;
			border-style: solid;
			padding: 8px;
			vertical-align: middle;
			line-height: 16px;
			border-radius: 2px;
			border-color: #CCC;
			color: #555;
			margin-left: -1px;
			margin-bottom: 5px;
			background: none;
		}
	}
}
